@page "/"
@inherits HomeBase

<PageTitle>Home</PageTitle>

<h3>Server Response:</h3>

@if (responseData == null)
{
    <p>Loading...</p>
}
else
{
    <p>@responseData</p>
}

@code {
    private string? responseData;

    protected override async Task OnInitializedAsync()
    {
        responseData = await Getdata();
    }
}
